
    <div class="card">
      <div class="card-block justify-content-center" style="padding: 20px;">
        <h4 class="card-title">{{unicorn.name}}</h4>
        <h6 class="card-subtitle text-muted">Age {{unicorn.age}}</h6>
        <p class="card-text p-y-1">my color is {{unicorn.colour}} .</p>
        <div class="col d-flex justify-content-center">
          <a href="#" class="card-link btn btn-warning">link</a>
          <a href="#" class="card-link btn btn-info">Second link</a>
        </div>
       
      </div>
    </div>
